@using Microsoft.AspNet.Identity
@using SFL.DATA.EF

@{
    ViewBag.Title = "movieStore";
}
@if (Request.IsAuthenticated)
{
    //calculate user's first name if they have a UD record
    MovieStoreEntities db = new MovieStoreEntities();
    string userID = User.Identity.GetUserId();
    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserID == userID).FirstOrDefault();

    // set up variables for "lack of user details" as well as overwriting for users that have deets
    @*string username = "Guest";

    if (currentUser != null)
    {
        username = currentUser.FirstName;

        <p>username is logged in</p>
    }*@

}


    <div class="inner" id="homeBG">
        <header>
            <h1>
                @ViewBag.Title

            </h1>
            <p>This page was customized from a template designed by HTML5 UP.  <br />
            <a href="@Url.Action("Index2", "Home")">Click here to see the template in it's original design!</a></p>
        </header>
        <section class="tiles">
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/comedycard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="Comedy"})">
                    <div class="iconsGenre">
                        <img src="~/Content/images/icons/comedy.png" />
                    </div>
                    <h2>Comedy</h2>
                    @*<div class="content">
                            <p>sdjfka;sjdfkja;sdkf</p>
                        </div>*@
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/scifiCard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="SciFi"})">
                    <div class="iconsGenre"> <img src="~/Content/images/icons/scifi.png" /></div>
                    <h2>Sci-Fi</h2>
                    @*<div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>*@
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/horrorcard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="Horror"})">
                    <div class="iconsGenre"><img src="~/Content/images/icons/horror.png" /></div>
                    <h2>Horror</h2>
                    @*<div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>*@
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/romancecard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="Romance"})">
                    <div class="iconsGenre"><img src="~/Content/images/icons/romance.png" /></div>
                    <h2>Romance</h2>
                    @*<div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>*@
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/actioncard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="Action"})">
                    <div class="iconsGenre"><img src="~/Content/images/icons/action.png" /></div>
                    <h2>Action</h2>
                    @*<div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>*@
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/thrillercard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="Thriller"})">
                    <div class="iconsGenre"><img src="~/Content/images/icons/thriller.png" /></div>
                    <h2>Thriller</h2>
                    @*<div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>*@
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/dramacard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="Drama"})">
                    <div class="iconsGenre"><img src="~/Content/images/icons/drama.png" /></div>
                    <h2>Drama</h2>
                    @*<div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>*@
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/mysterycard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="Mystery"})">
                    <div class="iconsGenre"><img src="~/Content/images/icons/mystery.png" /></div>
                    <h2>Mystery</h2>
                    @*<div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>*@
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/crimecard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="Crime"})">
                    <div class="iconsGenre"><img src="~/Content/images/icons/crime.png" /></div>
                    <h2>Crime</h2>
                    @*<div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>*@
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/animationcard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="Anuimation"})">
                    <div class="iconsGenre"><img src="~/Content/images/icons/animation.png" /></div>
                    <h2>Animation</h2>
                    @*<div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>*@
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/adventurecard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="Adventure"})">
                    <div class="iconsGenre"><img src="~/Content/images/icons/adventure.png" /></div>
                    <h2>Adventure</h2>
                    @*<div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>*@
                </a>
            </article>
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/genrecards/fantasycard.jpg" alt="" />
                </span>
                <a href="@Url.Action("GenreFilterResults", "GenreFilter", new { gen="Fantasy"})">
                    <div class="iconsGenre">   <img src="~/Content/images/icons/fantasy.png" /></div>
                    <h2>Fantasy</h2>
                    @*<div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>*@
                </a>
            </article>
        </section>
    </div>

    @section scripts{
        <script>
            $('.style1').hover(function () {
                $(this).find('.iconsGenre span.image').toggleClass('fade');
                $(this).find('div.iconsGenre').fadeToggle(500);

            });
                        //------------------------------
                        //$('.style1').hover(function () {
                        //    $(this).find('.image, .iconsGenre span.image').toggleClass('fade');
                        //    $(this).find('div.iconsGenre').animate({ opacity: 0 }, 500);

                        //});
                        ////------------------------------
                        //$('span.image').hover(function () {
                        //    $('.image , .iconsGenre span.image').toggleClass('fade');
                        //    $('.iconsGenre img').fadeOut(500);
                        //});
                        //------------------------------
                        //var block = $('.image');
                        //var icon = $('.iconsGenre span.image');
                        //var yellow = $('span.image');

                        //image.on('mouseover', function () {
                        //    icon.addClass('fade')
                        //    yellow.addClass('fade')
                        //})
                        //image.on('mouseleave', function{
                        //    icon.removeClass('fade')
                        //    yellow.removeClass('fade')
                        //})
                        //---------------------------------
                        //$('.image a, .iconsGenre').hover(function () {
                        //    $('.image a, .iconsGenre').fadeOut(500);
                        //});

        </script>

    }

