@model IEnumerable<SFL.DATA.EF.Movie>


@{
    ViewBag.Title = "Genre";
    List<string> gen = ViewBag.DistinctGen;
}

<h2>@ViewBag.DistinctGen</h2>

<h3 id="backHeader">
    <a href=" @Url.Action("Index", "Genres")"><i class="fas fa-long-arrow-alt-left"></i> Genres</a>
</h3>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div style="margin: .3em; padding .1em; border-radius: 5px; min-height: 250px; max-width:fit-content;">
                <dl class="dl-horizontal">
                    <dd>
                        <a href="@Url.Action("Details", "Movies", new { id = item.MovieID})" title="@item.MovieTitle">
                            <img src="~/Content/images/posters/@item.PosterImage" alt="@item.MovieTitle" id="posterPic"/>
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                        <dd>
                            @Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |

                            @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
                        </dd>
                    }
                        </dd>
                        <dd><strong>@Html.DisplayFor(modelItem => item.MovieTitle)</strong></dd>
                        <dd>
                            @Html.DisplayFor(modelItem => item.Price)
                        </dd>
                    </dl>

                </div>
            </div>

        }
</div>